body {
    font-family: 'Noto Serif', serif;
    background-color: #62181e;
    color: #d9be77;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 30vh;
    font-size: 70pt;
}



/*pizza image*/
#pizza {
    width: 300px;
    height: 300px;

    /*Duration is set in randomSpeed() function*/
    animation: rotation;

    animation-timing-function: linear;
    animation-iteration-count: infinite;
    pointer-events: none;
}


.pizzaContainer {
    text-align: center;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

