body {
    font-family: 'Noto Serif', serif;
    background-color: #62181e;
    color: #d9be77;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40vh;
    font-size: 70pt;
}



/*pizza image*/
.pizza {
    width: 300px;
    height: 300px;

    animation: rotation 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pizzaFall {
    opacity: 0.0%;
}

.pizzaFall:active {
    opacity: 1;
    width: 200px;
    height: 200px;
    transform: translateY(-500px);
    animation: fall 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pizzaContainer {
    text-align: center;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes fall {
    100% {
        transform: translateY(200vh);
    }
}


/*Pizza fall layer*/
#pizzaFallLayer {
    position: fixed;
    width: 100%;
    text-align: center;
}
