body {
    font-family: 'Noto Serif', serif;
    background-color: #62181e;
    color: #d9be77;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 60vh;
    font-size: 70pt;
}
